.apps {
  background: $on-surface;
  &__item {
    display: flex;
    flex-direction: column;
  }
  &__logo {
    @include media-laptop {
      width: 69px;
      height: 69px;
    }
    @include media-tablet {
      width: 69px;
      height: 69px;
    }
    @include media-mobile {
      width: 44px;
      height: 44px;
    }
  }

  &__title {
    font-family: Gilroy-Bold;
    @include media-laptop {
      font-size: 3.2rem;
      line-height: 32px;
    }
    @include media-tablet {
      font-size: 3.2rem;
      line-height: 32px;
    }
    @include media-mobile {
      font-size: 2.4rem;
      line-height: 24px;
    }
    font-weight: 700;
    text-align: left;
    padding-top: 24px;
  }

  &__text {
    padding-top: 8px;
    line-height: 22px;
  }

  &__buttons {
    display: flex;
    gap: 24px;
    padding-top: 36px;
    transform-origin: left;
    @include media-mobile {
      padding-top: 24px;
    }
    @media only screen and (max-width: 385px) {
      scale: 0.85;
    }
    @media only screen and (max-width: 340px) {
      scale: 0.8;
    }
  }
}

.button__apps {
  @include media-laptop {
    width: 162px;
  }

  @include media-tablet {
    width: 156px;
  }
  @include media-mobile {
    width: 152px;
  }
  background: $on-surface;
  border: 1px solid $color_black;
  z-index: 1;
}

.button__apps:hover {
  background: $color_green;
  color: $color_black;
  border: 1px solid $color_green;
}
