.wrapper__offer {
  display: flex;
  justify-content: flex-start;
  padding: 160px 0;
  @include media-laptop {
    flex-direction: row;
    gap: 24px;
  }

  @include media-tablet {
    & > div{
      flex-grow: 1;
    }
    padding: 120px 0;
    flex-direction: row;
    gap: 24px;
  }
  @include media-mobile {
    flex-direction: column;
    gap: 48px;
  }
}

.offer {
  background: $on-surface;

  &__title {
    @include media-laptop {
      width: 508px;
      font-size: 48px;
      line-height: 48px;
    }
    @include media-tablet {
      font-size: 48px;
      line-height: 48px;
    }
    @include media-mobile {
      font-size: 36px;
      line-height: 36px;
    }
    font-family: Gilroy-Bold;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: left;

    &-tablet {
      @include media-laptop {
        display: none;
      }
      @include media-tablet {
        display: block;
      }
      @include media-mobile {
        display: none;
      }
    }

    &-notablet {
      @include media-laptop {
        display: block;
      }
      @include media-tablet {
        display: none;
      }
      @include media-mobile {
        display: block;
      }
    }
  }

  &__title-mobile {
    font-size: 48px;
    line-height: 48px;
  }

  &__text {
    padding-top: 23px;
    line-height: 22px;
  }

  &__text-20 {
    @include media-laptop {
      width: 508px;
    }

    padding-top: 5px;
    padding-bottom: 35px;
    font-size: 20px;
    line-height: 24px;
  }
}
