.wrapper__team {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.team {
  //margin-bottom: 1600px;
  background-color: $on-surface;
  padding-top: 120px;
  @include media-mobile {
    padding-top: 96px;
  }

  &__title {
    font-family: Gilroy-Bold;
    font-weight: 700;
    font-size: 48px;
    text-align: left;
    margin-bottom: 24px;
    @include media-mobile {
      font-size: 36px;
    }
  }

  &__text {
    line-height: 140%;
  }
  &__description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    @include media-mobile {
      grid-template-columns: 1fr;
    }
  }
  &__text-rigth {
    @include media-laptop {
      padding-top: 49px;
    }
    @include media-tablet {
      padding-top: 0px;
    }
  }

  &__member {
    background-color: $color_black;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all 0.2s;
    //aspect-ratio: 242/342;
    padding: 24px 16px;

    &__title {
      font-family: Gilroy-Bold;
      font-weight: 700;
      color: #e3fd52;
      text-align: center;
      font-size: 2.4rem;
      @media only screen and (max-width: 400px) {
        word-break: break-all;
      }
    }
    &:hover {
      background-color: $color_green;
      p {
        color: $color_black;
      }
    }
  }
}

.member1 {
  background-image: url('../images/sticker1.svg');
}

.member2 {
  background-image: url('../images/sticker2.svg');
}

.member3 {
  background-image: url('../images/sticker3.svg');
}

.member4 {
  background-image: url('../images/sticker4.svg');
}

.member5 {
  background-image: url('../images/sticker5.svg');
}

.member6 {
  background-image: url('../images/sticker6.svg');
}

.member7 {
  background-image: url('../images/sticker7.svg');
}

.member8 {
  background-image: url('../images/sticker8.svg');
}

.member9 {
  background-image: url('../images/sticker9.svg');
}

.member10 {
  background-image: url('../images/sticker10.svg');
}

.member11 {
  background-image: url('../images/sticker11.svg');
}

.member12 {
  background-image: url('../images/sticker12.svg');
}

.member13 {
  background-image: url('../images/sticker13.svg');
}

.member14 {
  background-image: url('../images/sticker14.svg');
}

.member15 {
  background-image: url('../images/sticker15.svg');
}

.member16 {
  background-image: url('../images/sticker16.svg');
}

.member17 {
  background-image: url('../images/sticker17.svg');
}
