.wrapper__way {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 120px 0 174px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  @media only screen and (max-width: 640px) {
    padding: 96px 0 120px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(150%);
  }
  80% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.way {
  background: $color_black;

  &__title {
    & > span,
    & > p {
      display: inline-block;
      animation: fade-in 0.8s cubic-bezier(0.000, 0.000, 0.570, 0.890);
      animation-fill-mode: both;
    }
    span:first-of-type {
    }
    span.way__title-green {
      animation-delay: 300ms;
    }
    p:last-child {
      animation-delay: 600ms;
    }
    @include media-laptop {
      width: 696px;
      font-size: 8.4rem;
      line-height: 79px;
    }
    @include media-tablet {
      width: unset;
      font-size: 8.4rem;
      line-height: 79px;
    }
    @include media-mobile {
      //width: 288px;
      font-size: 4.8rem;
      line-height: 45.12px;
    }
    font-family: Gilroy-Bold;
    font-weight: 700;
    letter-spacing: 0.3px;
    color: $on-surface;
    &-green {
      color: $color_green;
      white-space: nowrap;
    }
  }

  &__text {
    animation: fade-in 0.8s cubic-bezier(0.000, 0.000, 0.570, 0.890);
    animation-delay: 1000ms;
    animation-fill-mode: both;
    padding-top: 24px;
    color: $on-surface-70;
    line-height: 22.1px;
    @include media-laptop {
      width: 508px;
    }
    @include media-tablet {
      width: 508px;
      //width: unset;
    }
    @include media-mobile {
      width: 100%;
    }
  }

  &__button {
    padding-top: 34px;
  }
}

.button__way {
  animation: fade-in 0.8s cubic-bezier(0.000, 0.000, 0.570, 0.890);
  animation-delay: 1200ms;
  animation-fill-mode: both;
  width: 149px;
  background: $color_green;
  a {
    color: #000;
  }
}

.button__way:hover {
  background: $color_black;
  color: $color_green;
  border: 1px solid $color_green;
}
