.wrapper__way {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 120px 0 174px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  @media only screen and (max-width: 640px) {
    padding: 96px 0 120px;
  }
}

.way {
  background: $color_black;

  &__title {
    @include media-laptop {
      width: 696px;
      font-size: 8.4rem;
      line-height: 79px;
    }
    @include media-tablet {
      width: unset;
      font-size: 8.4rem;
      line-height: 79px;
    }
    @include media-mobile {
      //width: 288px;
      font-size: 4.8rem;
      line-height: 45.12px;
    }
    font-family: Gilroy-Bold;
    font-weight: 700;
    letter-spacing: 0.3px;
    color: $on-surface;
    &-green {
      color: $color_green;
      white-space: nowrap;
    }
  }

  &__text {
    padding-top: 24px;
    color: $on-surface-70;
    line-height: 22.1px;
    @include media-laptop {
      width: 508px;
    }
    @include media-tablet {
      width: 508px;
      //width: unset;
    }
    @include media-mobile {
      width: 100%;
    }
  }

  &__button {
    padding-top: 34px;
  }
}

.button__way {
  width: 149px;
  background: $color_green;
  a {
    color: #000;
  }
}

.button__way:hover {
  background: $color_black;
  color: $color_green;
  border: 1px solid $color_green;
}
