.wrapper__world {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.world {
  background: $color_black;
  backdrop-filter: blur(12px);
  color: $on-surface;
  padding: 120px 0 160px;

  @include media-mobile {
    padding: 64px 0 96px;
  }

  &__header {
    display: flex;
    gap: 24px;
    & > h3,
    & > div {
      flex-basis: calc(50% - 12px);
    }

    @include media-mobile {
      flex-direction: column;
    }
  }

  &__title {
    font-size: 4.8rem;
    line-height: 1.1;
    font-family: Gilroy-Bold;
    font-weight: 700;
    text-align: left;

    @include media-mobile {
      font-size: 3.6rem;
      line-height: 36px;
    }

    &-higher {
      @include media-laptop {
        font-size: 4.8rem;
        line-height: 48px;
        letter-spacing: 0.5px;
      }
      @include media-tablet {
        font-size: 4.8rem;
        line-height: 48px;
        letter-spacing: 0.5px;
      }
      @include media-mobile {
        font-size: 4.8rem;
        line-height: 48px;
        letter-spacing: 0.5px;
      }
    }
  }

  &__text {
    color: $on-surface-70;
    @include media-laptop {
      width: 508px;
      padding-top: 14px;
    }
    @include media-tablet {
      padding-top: 14px;
    }
    @include media-mobile {
      padding-top: 0px;
    }
    line-height: 22px;
  }

  &__stats {
    display: flex;
    flex-direction: column;
    gap: 36px;
    position: absolute;
    left: 0;
    bottom: 0;
    &-item {
      width: 140px;
    }
    &-number {
      font-size: 48px;
      line-height: 1;
      font-weight: 700;
      color: $color_green;
    }
    &-text {
      font-weight: 600;
      font-size: 20px;
    }
    @media only screen and (max-width: 850px) {
      margin-top: 36px;
      display: flex;
      position: relative;
      flex-direction: row;
    }
  }

  &__map {
    padding-top: 64px;
    @include media-mobile {
      padding-top: 48px;
    }
    @include media-tablet {
      padding-left: 5%;
    }
    position: relative;
    width: 100%;
    img {
      width: 100%;
      aspect-ratio: initial;
    }
  }
}
